@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@layer base {
  html {
    font-family: "Montserrat", system-ui sans-serif;
  }
}
:root {
  --primary: #274494;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  font-family: "Montserrat", system-ui sans-serif;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-start-rgb))
        )
        rgb(var(--background-end-rgb))
  }
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  } 
  
  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  .fade-in {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }  

  img {
    aspect-ratio : 25/5
  }

  .button {
    @apply text-white bg-gray-800 hover:bg-gray-700  font-medium transition-all ease-in-out duration-500 rounded text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:bg-gray-800
  }

  .buttonPagination {
    @apply text-white bg-gray-700 hover:bg-gray-600 transition-all ease-in-out duration-500 rounded-xl font-medium text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-700 dark:hover:bg-gray-700 dark:focus:bg-gray-600 dark:bg-gray-700
  }